*{
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Inter , sans-sarif ;
  background-color: #434764;

 
}

nav,.main {
  display: flex ;
  align-items: center ;
  height: 90px ;
  padding: 30px 25px;
 
}
.nav-icon{
   height:30px;
}
 
.nav-logo-txt {
  margin-right:auto ;
  color:#61DAFB ;
  font-weight: 700;
  font-size: 22px;

}

.nav-txt {
  color:#DEEBF8 ;
  font-weight: 600 ;
}
main {
  padding: 57px 27px ;
  color: white ;
  /* background-image: url(https://cdn-media-1.freecodecamp.org/images/1*jnqXL4Q-iW0qxodFDTxyFQ.jpeg);
  background-repeat: no-repeat ;
  background-position: right 75% ; */
  
}
.main-header {
  margin : 0 ;
  font-size: 39px ;
  letter-spacing: -0.05em ;
}
.list {
  margin-top: 46px ; 
  max-width: 400px ;
}
.list > li {
  line-height: 20px ;
  padding-block: 10px ;
}
.list > li::marker {
  font-size: 1.4rem ;
  color:#61DAFB ;
}

